[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/bundle/repos/github.com/Shougo/dein.vim"]
	path = vim/bundle/repos/github.com/Shougo/dein.vim
	url = git@github.com:Shougo/dein.vim
[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
